
.navbar
{
    min-height: 180px;
}

.bg-strip-red
{
    border:#B20000 solid 15px;
    margin-top: 180px;
}

@media (min-width: 768px)
{
    .navbar-right
    {
        margin-right: 0px;
        margin-top: 129px;
    }
    
    .navbar-toggle
    {
        margin-left: 100px;
    }
    
    
}

@media (max-width: 767px)
{
    
    .navbar-toggle
    {
        margin-top: 135px;
    }
    
    .bg-strip-red
    {
        /*margin-top: 434px;*/
    }
    
}

