.navbar
{
    min-height: 180px;
}

.bg-strip-red
{
    background-color: red;
    margin-top: -20px;
}

.bg-strip-red-push-content-down
{
    margin-bottom: 20px;
}

.bg-strip-red h6
{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    /*padding-left: 40px;*/
}

.navbar-toggle
{
    margin-top: 120px;
    margin-right: 40px;
}

.minus-padding
{
    padding-left: 0px;
    padding-right: 0px;
}

.add-padding
{
    padding-left: 40px;
    padding-right: 40px;
}

.padding-logo-left
{
    padding-left: 40px;
}


@media (min-width: 768px)
{
    .navbar-right
    {
        margin-right: 40px;
        margin-top: 129px;
    }
    
    .navbar-toggle
    {
        margin-left: 100px;
    }
    
    .navbar-static-top 
    {
        position:fixed;
        top:0;
        right:0;
        left:0;
        
    }
    
    .bg-strip-red-push-content-down
    {
        margin-bottom: 20px;
    }
    
    .bg-strip-red
    {
        margin-top: 180px;
    }
    
}

@media (min-width: 1200px)
{
    .media-big-screen img
    {
        margin-left: auto;
    }
    
    .media-big-screen p
    {
        margin-left: auto;
    }
}



