

.navbar
{
    min-height: 180px;
}

.bg-strip-red
{
    background-color: red;
    margin-top: -20px;
}

.bg-strip-red-push-content-down
{
    margin-bottom: 20px;
}

.bg-strip-red h6
{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggle
{
    margin-top: 120px;
    margin-right: 40px;
}

.minus-padding
{
    padding-left: 0px;
    padding-right: 0px;
}

.add-padding
{
    padding-left: 40px;
    padding-right: 40px;
}

.padding-logo-left
{
    padding-left: 40px;
}

.home-page-headings
{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
    
}

.middle-home-page-headings
{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
}

.home-page-headings~img
{
    border: 1px solid black;
    margin-bottom: 10px;
}

.bg-content-screen
{
    background-color: #DCDCDC;
    border-bottom: 1px solid black;
    margin-top: -20px;
}

.services-links
{
    margin-top: 5%;
    margin-bottom: 5%;
}

.services-links a
{
    border: 5px solid #000; 
	padding: 2px 2px; 
	background: #000000; 
	
	color:#FFFFFF; 
	border-radius: 5px; 
	text-align:center; 
	text-decoration:none;
	margin-right:4.5%;
	margin-bottom:3%;
	display:inline-block;
}

.bg-footer
{
    background-color: #DCDCDC;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    border-top: 1px solid black;
}

.media-big-screen
{
    margin-bottom: 30px;
}

.form-push-down
{
    margin-top: 30px;
}

.services-img-margin-up-down
{
    margin-top: 1%;
}

.services-img-margin-up-down img
{
    border: 1px solid black;
	box-shadow: 10px 10px 5px #888888;
}

.form-group
{
    margin-bottom: 2%;
}

.services-roofing-p-bold
{
    font-weight: bolder;
}

.history-items
{
    margin-bottom: 4%;
}
    

.timeline-item
{
    padding: 4em 0em 0em 2em;
    position: relative;
    color: black;
    border-left: 1px solid;
}

.timeline-item p
{
    padding: 0;
    margin: 0;
}

.timeline-item::before
{
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after
{
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: red;
}

.panel-default
{
    border-color: red;
}

legend
{
    font-size: 1.5rem;
    font-weight: bold; 
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 4px 15px;
}

fieldset
{
    border: 1px solid #000;
    border-radius: 20px;
    /*clear: both;*/
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #DCDCDC;
}

@media (max-width: 480px)
{
    .media-big-screen
    {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 768px)
{
    .add-padding
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .padding-logo-left
    {
        padding-left: 5px;
    }
    
    .navbar-toggle
    {
        margin-right: 5px;
    }
    
    .services-img-margin-up-down img
    {
        box-shadow: none;
    }
}


@media (min-width: 768px)
{
    .navbar-right
    {
        margin-right: 20px;
        margin-top: 129px;
    }
    
    .add-padding
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .padding-logo-left
    {
        padding-left: 20px;
    }
    
    .bg-strip-red-push-content-down
    {
        margin-bottom: 20px;
    }
    
    .history-items
    {
        margin-left: 4%;
    }
    
    .footer-static-bottom 
    {
        /*position:fixed;*/
        /*bottom:0;*/
        /*right:0;*/
        /*left:0;*/
        
        position:absolute;
       bottom: 0px;
       height:25px;
       width: 100%;       
       left: 0px;       
       right: 0px;
       /*border:1px solid black;*/
       display: inline-block;       
       cursor:pointer;
       /*background:#FFE4E1;    */
    }
    
    .footer-slide-up 
    {
        /*position:fixed;*/
        /*bottom:0;*/
        /*right:0;*/
        /*left:0;*/
        
        position:absolute;
       bottom: 0px;
       height:25px;
       width: 100%;       
       left: 0px;       
       right: 0px;
       /*border:1px solid black;*/
       display: inline-block;       
       cursor:pointer;
       /*background:#FFE4E1;    */
    }
    
    .slide { 
    border:1px solid black;
    height:125px;    
    left: 0px;
    right:0px;
    bottom: 25px;
    display: none;    
    position: absolute;
}
    
    /*.body-substitute*/
    /*{*/
    /*    padding-bottom: 150px;*/
    /*}*/
    
    
    
    
}

@media (min-width: 1200px)
{
    .navbar-static-top 
    {
        position:fixed;
        top:0;
        right:0;
        left:0;
        
    }
    
    .bg-strip-red
    {
        /*margin-top: 180px;*/
    }
    
    .media-big-screen img
    {
        margin-left: auto;
    }
    
    .media-big-screen-heading-move-right
    {
        text-align: center;
    }
    
    .navbar-right
    {
        margin-right: 40px;
    }
    
    .add-padding
    {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .padding-logo-left
    {
        padding-left: 40px;
    }
    
    .timeline-item p
    {
        margin-left: 11%;
    }
    
    .timeline-item h4
    {
        margin-left: 11%;
    }
    
    .timeline-item::before
    {
        margin-left: 11%;
    }
    
    .history-items
    {
        margin-left: 9%;
    }
    
    
}





